body{
  background-color: #434343;
  font-family: 'Sigmar One', cursive;
}
/* div{
  height: 300px;
} */
li{
  list-style-type: none;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  border-radius: 10%;
  padding-top: 5px;
}
li:hover {
  background-color: #3c3c3c;
  color:white;
}
img{
  height: 150px;
  width: 150px;
}
div.container{
  height: auto;
}
/* .inone{
  background-color: black;
} */
/* Div containing the Navigation blue colored */
.sectiononeh1{
  font-size: 2em;
}
.seconeanchor:link {
  color: #444444;
}
.seconeanchor:hover{
  background-color:#334746;
  color: transparent;
}
.one{
background-color: #a3cfd8;
}
.sectionone{
  text-align: center;
  height: auto;
}
.circle{
  display: inline-block;
  background-color: white;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}
.sectioneone-bottom{
  text-align: center;
}
.c-two,
.c-three{
  background-color: #a3cfd8;
  border: 1px solid white;
}
/* End of Blue colored Div */
/* Div contaning white Div */
/* h2{
  font-size: 14px;
} */
p{
font-size: 10px;
}
.two{
background-color: #ffffff;
}
.sectiontwo{
  text-align: center;
}
.imgtwo{
height: 100px;
width: 100px;
padding: 10px;
}
/* End of the white Div */
/* Div contaning the grren div */
div.container.three{
  height: auto;
}
.three{
background-color: #97d0a3;
}
.sectionthreetop{
  height: auto;
  text-align: center;
  color: white;
}
div.col-4{

}
.sectiongthreecl{
  text-align: center;
}
.sectionthreeul{
  height: auto;
}
.mainsecthreeul{
  text-align: center;
}
.mainsecthreeul li{
  padding: 10px;
  color: white;
}
.midcntr{
  text-align: center;
}
.sectionthreebottom{
  text-align: center;
}
.divbuttonthree{
  padding: 5px;
  margin: 50px;
  border-radius: 10%;
  border: 2px solid #9ad3a6;
  background-color: #fffefa;
  color: #bdbec0;
}

/* End of green div */
/* Start of white Div section four */
.four{
background-color: #f0f0f0;
}
.secfivetop{
background-color: #e8eae9;
text-align: center;
}
.secfivebtm{
  background-color: #fbffff;
}
/* End white Div section four */
/* Start Pink Div section five */
.five{
background-color:#dfb4c5;
}
.secfiveh1p{
  text-align: center;
  color: white;
}
/* End pink Div section five */
/* Start of lightblue div container  */
.six{
background-color:#b5d5e2;
}
.sectionsixtop{
  background-color: #e8eae9;
  text-align:center;
}
.sectionsixbtm{
  background-color: #fbffff;
  text-align: center;
}
.secsixbtn{
  text-align: center;
  padding: 15px;
  /* TODO: Give the button a border-radius to make a bit more rounded. Accidently added it to the Div. */
  border-radius: 10%;
}
.secsixh1p{
  text-align: center;
  color: white;
}
/* End of Lightblue div container */
/* Start of final Div color black  */
.seven{
background-color:#3b3b3b;
}
.sevenh1{
  text-align: center;
  color: #fbffff
}
.sevenp{
  text-align: center;
  color: #fbffff
}
.inputone,
.inputtwo,
.inputthree{
  text-align: center;
  padding: 5px;
}
.maininputthree{
  height: 100px;
}
.sectionsevenbtn{
  text-align: center;
  padding: 15px;
}
.sectionsevenul{
  text-align: center;
  border-top: 2px solid black;
}
/* End of final black div */
/* Start of footer */
.lowestftr{
  padding: 10px;
}

/* End of the footer of the page */
